@page "/"
@using System.Collections.Generic
@using ShitRichardSays.Data
@inject RecordingService recordingService
@code
{
    private Dictionary<string, string> Sayings = new Dictionary<string, string>();
    
}
<h1>Hello, world It's Richard!</h1>
<p>
    Welcome to a website built around the things I say. If you know me, you know that I'm am a very harsh person.
    If your going to be made uncomfortable please feel free to leave my site. Thank and mind your business.
</p>
@if (Sayings.Count <= 0)
{
    <button class="btn btn-primary" @onclick="ShowRecordings">Show Shit Richard Says</button>
}
else
{
    <button class="btn btn-primary" @onclick="HideRecordings">Hide Shit Richard Says</button>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Recording</th>
        </tr>
    </thead>
    <tbody>
   @foreach (var recordings in Sayings)
   {

        <tr>
            <td>@recordings.Key</td>
            <td>
                <audio controls>
                    <source src=@recordings.Value type="audio/mp4">
                    Your browser does not support the audio element.
                </audio>
            </td>
        </tr>
    }
    </tbody>
</table>
@code
{
    public void ShowRecordings()
    {

        //var AllRecordings = await recordingService.GetAllRecordings();
        //foreach (var saying in AllRecordings)
        //{
        //    RecordingsList.Add(saying.Title, saying.AudioFile);
        //}

        Sayings.Add("Richard Calling Things Stupid", "Recordings/ThisIsStupid.m4a");
        Sayings.Add("Richard Saying Fat", "Recordings/RichardSaysFat.m4a");
        Sayings.Add("Richard Calling People Dumbasses", "Recordings/Dumbass.m4a");
        Sayings.Add("Richard Calling People  Stupid", "Recordings/CallingPeopleIdiots.m4a");

        Sayings.Add("Richard Saying  This is Shit", "Recordings/ThisShit.m4a");
        Sayings.Add("Richard Saying This Fucking stupid", "Recordings/FStupid.m4a");
        Sayings.Add("Richard Saying What", "Recordings/What.m4a");
        Sayings.Add("Richard Richard Saying Why", "Recordings/Why.m4a");

        Sayings.Add("Richard saying move on", "Recordings/MoveOn.m4a");

    }
    public void HideRecordings()
    {
        Sayings.Clear();
    }
}
