@page "/"

<h1>Hello, world!</h1>

Welcome to a website built around the things I say. If you know me, you know that I'm am a very harsh person.
If your going to be made uncomfortable please feel free to leave my site. Thank and mind your business.
<p>Richard Saying Fat</p>
<audio controls>
    <source src="Recordings/RichardSaysFat.m4a" type="audio/mp4">
    Your browser does not support the audio element.
</audio>
<p>Richard Calling People Idiots</p>
<audio controls>
    <source src="Recordings/CallingPeopleIdiots.m4a" type="audio/mp4">
    Your browser does not support the audio element.
</audio>
<p>Richard Calling People Dumbasses</p>
<audio controls>
    <source src="Recordings/Dumbass.m4a" type="audio/mp4">
    Your browser does not support the audio element.
</audio>
<p>Richard Calling People Things Stupid</p>
<audio controls>
    <source src="Recordings/ThisIsStupid.m4a" type="audio/mp4">
    Your browser does not support the audio element.
</audio>