@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<p>Richard Saying Fat</p>
<audio controls>
    <source src="Recordings/RichardSaysFat.m4a" type="audio/mp4">
    Your browser does not support the audio element.
</audio>
<p>Richard Calling People Idiots</p>
<audio controls>
    <source src="Recordings/CallingPeopleIdiots.m4a" type="audio/mp4">
    Your browser does not support the audio element.
</audio>